<footer class="main-footer">
  <strong>Copyright &copy; 2020 <a href="mailto:mcerquera@marcsoft.com.co">Marc-posasy</a>.</strong> All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- jQuery 3.4.1 -->
<script src="{{ 'jquery/jquery.min.js'|bower_components }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ 'jquery-ui/jquery-ui.min.js'|bower_components }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<!-- Bootstrap 4 -->
<script src="{{ 'bootstrap/js/bootstrap.bundle.min.js'|bower_components }}"></script>
<!-- ChartJS -->
<script src="{{ 'chart.js/Chart.min.js'|bower_components }}"></script>
<!-- Sparkline -->
<script src="{{ 'sparklines/sparkline.js'|bower_components }}"></script>
<!-- JQVMap -->
<script src="{{ 'jqvmap/jquery.vmap.min.js'|bower_components }}"></script>
<script src="{{ 'jqvmap/maps/jquery.vmap.usa.js'|bower_components }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ 'jquery-knob/jquery.knob.min.js'|bower_components }}"></script>
<!-- daterangepicker -->
<script src="{{ 'moment/moment.min.js'|bower_components }}"></script>
<script src="{{ 'daterangepicker/daterangepicker.js'|bower_components }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ 'tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'|bower_components }}"></script>
<!-- Summernote -->
<script src="{{ 'summernote/summernote-bs4.min.js'|bower_components }}"></script>
<!-- Bootstrap-toggle -->
<script src="{{ 'bootstrap-toggle/js/bootstrap-toggle.min.js'|bower_components }}"></script>
<!-- overlayScrollbars -->
<script src="{{ 'overlayScrollbars/js/jquery.overlayScrollbars.min.js'|bower_components }}"></script>
<!-- AdminLTE App -->
<script src="{{ 'js/adminlte.js'|assets }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ 'js/demo.js'|assets }}"></script>
<!--Sweetalert2-->
<script src="{{ 'sweetalert2/sweetalert2.all.js'|bower_components }}"></script>
<!-- Malsup -->
<script src="http://malsup.github.com/jquery.form.js"></script>
<!-- Ajax-simplificado -->
<script src="{{ 'js/ini.js'|assets }}"></script>

<script src="{{ 'datatables/jquery.dataTables.min.js'|bower_components }}"></script>
<script src="{{ 'datatables-bs4/js/dataTables.bootstrap4.min.js'|bower_components }}"></script>
