<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Marc-posasy | {{title}}</title>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{ 'fontawesome-free/css/all.min.css'|bower_components }}">
      <!-- Ionicons -->
      <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
      <!-- Tempusdominus Bbootstrap 4 -->
      <link rel="stylesheet" href="{{ 'tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'|bower_components }}">
      <!-- iCheck -->
      <link rel="stylesheet" href="{{ 'icheck-bootstrap/icheck-bootstrap.min.css'|bower_components }}">
      <!-- JQVMap -->
      <link rel="stylesheet" href="{{ 'jqvmap/jqvmap.min.css'|bower_components }}">
      <!-- Theme style -->
      <link rel="stylesheet" href="{{ 'css/adminlte.min.css'|assets }}">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="{{ 'overlayScrollbars/css/OverlayScrollbars.min.css'|bower_components }}">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="{{ 'daterangepicker/daterangepicker.css'|bower_components }}">
      <!-- Summernote -->
      <link rel="stylesheet" href="{{ 'summernote/summernote-bs4.css'|bower_components }}">
      <!-- Bootstrap-toggle -->
      <link rel="stylesheet" href="{{ 'bootstrap-toggle/css/bootstrap-toggle.min.css'|bower_components }}">
      <!-- Style -->
      <link rel="stylesheet" href="{{ 'css/style.css'|assets }}">
      <!-- Google Font: Source Sans Pro -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
